.main-section{
    height: 90vh;

    .herotxt{
        display: flex;
        width: 100%;
        justify-content:center;
        align-items: center;
        text-align: left;
        margin-top: 1.5rem;
    }

    .subherotxt{
        display: flex;
        justify-content: center;

    }
}

