.second-section {
  background-color: #fff1be;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
   @media only screen and (max-width: 640px) {
    grid-template-columns: 1fr 
   }

  &::before {
    position: absolute;
    content: url("../img/top-1.svg");
    width: 100vw;
    height: 3%;
    right: 0;
    z-index: 111;
    margin-top: -1%;
    cursor: pointer;
     @media only screen and (max-width: 640px) {
    content: "";
   }
  }

  &__img {
    min-height: 85%;
    background: url(../img/mobile/img-16.png) #fff1be;
    background-repeat: no-repeat;
    background-size: contain;
        margin-left: 25%;
      margin-top: 2rem;
    // background-color: #FFF1BE;
    @media only screen and (max-width: 640px) {
      // background: url(../img/mobile/section-two.png) #fff1be;
      // display: block;
      // grid-template-columns: 1fr;
      // margin: 0;
     display: none;
    }
  }

  &__grid {
    @media only screen and (min-width: 640px) {
      margin-left: 6.5rem;
      margin-right: 6.5rem;
      margin-bottom: 4.5rem;
    }
    grid-column: 1/-1;
    &__para {
      color: #202020;
      opacity: 0.4;
      font-family: "Roboto Slab", serif;
      font-weight: 500;
      font-size: 0.75rem;
       @media only screen and (max-width: 640px) {
         padding: 0 1rem;
       }
    }

    &__carousel {
      margin-top: 2.8rem;
      // grid-column: 1/-1;
    }
  }

  &__txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    @media only screen and (max-width: 640px) {
     display: grid;
     grid-template-columns: 1fr;
    }
  }

  &__child {
    //   width: 90%;
    background: url("../img/Group.png");
    height: 11.5rem;
    background-repeat: no-repeat;
    background-size: 87%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0rem;
    @media only screen and (max-width: 640px) {
      background: none;
        background: url("../img/mobile/section2.png");
        background-size: contain;
        margin: 0;
        background-repeat: no-repeat;
       margin-left: 3rem;
    }

    &__txt {
      width: 23rem;
      margin-bottom: 2rem;
      margin-left: 9rem;
      margin-top: 0rem;
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 1.5;
      color: #202020;
      @media only screen and (max-width: 640px) {
        display: none;
      }
    }
  }

  .flexColContainer {
    padding-top: 4rem;
    @media only screen and (max-width: 640px) {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    &__mainTxt {
      font-weight: 400;
      font-family: "Caveat Brush", sans-serif;
      color: "#DB0812";
      font-size: 3.75rem;
      @media only screen and (max-width: 640px) {
        font-size: 3rem;
        display: flex;
        justify-content: center;
      }
    }

    &__subtxt {
      font-family: "Roboto Slab", serif;
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 1.5;
      color: #202020;
      width: 23rem;
      @media only screen and (max-width: 640px) {
        width: 80%;
        display: flex;
        justify-content: center;
        margin-left: 2rem;
      }
    }

    .second-section__child {
      &____txt {
        width: 18.75rem;
      }
    }
  }
}
