.second-section{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    background: url(../img/section2.png)  #FFF1BE;
    background-repeat: no-repeat;
    background-size: cover;
    // background-color: #FFF1BE;
    min-height: 100vh;

    &__txt{

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    &__child{
      background: url("../img/Group.png");
      height: 11.5rem;
    //   width: 90%;
      background-repeat: no-repeat;
      background-size: 87%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 0rem;

      &__txt{
           width: 23rem;
          margin-bottom: 2rem;
          margin-left: 9rem;
          margin-top: 0rem;
            font-weight: 500;
            font-size: 0.875rem;
            line-height: 1.5;
            color: #202020;
      }
    }
    

    .flexColContainer{
        padding-top: 4rem;
        &__mainTxt{
            font-weight: 400;
            font-family: "Caveat Brush",sans-serif;
            color: "#DB0812";
            font-size: 3.75rem;
        }

        &__subtxt{
            font-weight: 500;
            font-size: 0.875rem;
            line-height: 1.5;
            color: #202020;
            width: 23rem;
        }

        .second-section__child{
            &____txt{
                width: 18.75rem;

            }
        }
    }
}