.testimonals {
  background-color: #fff1be;

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2.5rem;

    padding: 2.5rem 8.75rem;
    @media only screen and (max-width: 640px) {
      grid-template-columns: 1fr;
      padding: 2.5rem 4.75rem;
    }
  }
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    margin-bottom: 2rem;
    @media only screen and (max-width: 640px) {
      padding: 1rem;
      padding-top: 3rem;
      text-align: center;
    }
  }
  .grid-item {
    &__author {
      color: #db0812;
      font-family: "Roboto Slab", serif;
      font-weight: 500;
      font-size: 1.25rem;
      border-top: 2px solid #fcc517;

      &_heading {
        margin-top: 15px;
      }

      &_para {
        color: #202020;
        font-family: "Roboto Slab";
        font-weight: 500;
        font-size: 0.75rem;
        opacity: 0.4;
        text-align: center;
      }

    }
    &__para {
      color: #202020;
      font-weight: 500;
      font-size: 0.875rem;
      text-align: center;
      width: 70%;
      padding-bottom: 20px;
    }
    img {
      margin-bottom: 1rem;
     
    }
  }
}
